@media only screen and (max-width: 768px) {
    body {
        margin-right: 100px;
    }
    img {
        width: auto;
        margin-left: 50px;
        margin-right: 0px; 
    }

    .content {
        flex-direction: column; 
        align-items: center;
        text-align: center;
        margin-left: 0%;
        margin-right: 50px; 
    }

    p {
        font-size: 12px;
        width: 50px;
}
    button {
        width: 80%; /* Lebar tombol 80% dari lebar container */
        margin-left: auto; /* Membuat tombol berada di sebelah kanan */
        margin-right: auto;
        margin-bottom: 50px;
    }

    .socialMedia i {
        margin-bottom: 100px;
    }
}


body {
    background-image: url('images/bg-desktop.svg'), linear-gradient(hsl(257, 40%, 49%), hsl(257, 40%, 49%));
    
}
nav {
    margin-left:  50px;
    padding-bottom: 30px;
    margin-top: 50px;

}

.content {
    display:flex;
    justify-content: center;
    width: 100;
    margin-left: 100px;
    margin-top: 30px;
    
}

img{
    width: 500px;
}
.header {
    margin-left: 50px;
    
}

h1 {
    font-size: 40px;
    width: 500px;
    font-weight: 600;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    
}

p {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #fff;
    width: 500px;
}

button {
    padding: 15px 50px 15px 50px;
    margin-top: 10px;
    border-radius: 30px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: #fff;
    color:hsl(257, 40%, 49%);
    border: none;
    box-shadow: -3px 1px 11px 7px rgba(0,0,0,0.14);
}

button:hover {
    background-color: hsl(300, 69%, 71%);
    color: #fff;
    cursor: pointer;
    transform: scale(1.1);
}

.socialMedia ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    padding: 20px;
  }  

.socialMedia li {
    margin-right: 10px;
  }
  
  .socialMedia i {
    font-size: 15px; /* Memperbesar ukuran ikon */
    border:2px solid;
    border-color: #fff;
    border-radius: 50%; /* Membuat lingkaran di belakang ikon */
    padding: 10px; /* Jarak antara ikon dan lingkaran */
    color: #fff; /* Warna ikon */
    
  }

  .socialMedia i:hover {
    border-color: hsl(300, 69%, 71%);
    color: hsl(300, 69%, 71%);
    cursor: pointer;
  }

.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: -50px;
    margin-left: 100px;
}
.attribution a { 
    color: #fff; 
}
